<div class="note-container">
  <div class="note-tack-container"><svg
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="70px"
     class="note-tack"
     viewBox="0 0 75.561813 80.755655"
     version="1.1"
     id="svg8"
     sodipodi:docname="tacked.svg"
     inkscape:version="0.92.4 (5da689c313, 2019-01-14)">
    <defs
       id="defs2">
      <filter
         inkscape:collect="always"
         style="color-interpolation-filters:sRGB"
         id="filter975"
         x="-0.033825446"
         width="1.0676509"
         y="-0.051397853"
         height="1.1027957">
        <feGaussianBlur
           inkscape:collect="always"
           stdDeviation="0.92188491"
           id="feGaussianBlur977" />
      </filter>
    </defs>
    <sodipodi:namedview
       id="base"
       pagecolor="#ffffff"
       bordercolor="#666666"
       borderopacity="1.0"
       inkscape:pageopacity="0.0"
       inkscape:pageshadow="2"
       inkscape:zoom="1.4"
       inkscape:cx="22.320329"
       inkscape:cy="119.04435"
       inkscape:document-units="mm"
       inkscape:current-layer="layer1"
       showgrid="false"
       fit-margin-top="0"
       fit-margin-left="0"
       fit-margin-right="0"
       fit-margin-bottom="0"
       inkscape:window-width="1366"
       inkscape:window-height="705"
       inkscape:window-x="-8"
       inkscape:window-y="-8"
       inkscape:window-maximized="1"
       inkscape:snap-global="false" />
    <metadata
       id="metadata5">
      <rdf:RDF>
        <cc:Work
           rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type
             rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
          <dc:title></dc:title>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g
       inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(-54.662295,-128.0621)">
      <circle
         style="opacity:1;fill:#d5d5d5;fill-opacity:1;stroke:none;stroke-width:8.40009117;stroke-linecap:round;stroke-miterlimit:20;stroke-dasharray:none;stroke-opacity:1"
         id="path981"
         cx="67.357597"
         cy="196.12245"
         r="12.695302" />
      <path
         style="opacity:0.17900002;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.86757135;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter975)"
         d="m 103.41323,144.316 a 16.584089,5.9269042 14.567499 0 0 -6.68528,1.61456 16.584089,5.9269042 14.567499 0 0 2.597918,6.46426 l -9.963965,6.24929 c -3.552275,-0.18916 -7.161033,-0.048 -10.409558,0.38489 -7.021066,0.93525 -12.355835,3.21199 -14.826987,5.24808 -4.252487,3.5041 0.798301,8.12504 10.153067,12.18687 l -3.075833,3.9126 -4.476563,5.69562 a 2.963101,7.6148533 57.045075 0 0 0.05157,0.29485 2.963101,7.6148533 57.045075 0 0 0.121021,0.27385 2.963101,7.6148533 57.045075 0 0 0.184976,0.23333 2.963101,7.6148533 57.045075 0 0 0.246864,0.18944 2.963101,7.6148533 57.045075 0 0 0.30669,0.14405 2.963101,7.6148533 57.045075 0 0 0.251677,0.0739 2.963101,7.6148533 57.045075 0 0 0.401586,0.0638 2.963101,7.6148533 57.045075 0 0 0.451094,0.0157 2.963101,7.6148533 57.045075 0 0 0.497166,-0.0323 2.963101,7.6148533 57.045075 0 0 0.53705,-0.0807 2.963101,7.6148533 57.045075 0 0 0.295,-0.0656 l 7.547584,-4.29301 5.542413,-3.15221 c 10.933831,3.39865 21.26024,4.31498 25.66564,0.68499 2.47109,-2.03616 4.32495,-5.57041 3.25669,-9.42741 -0.51612,-1.86369 -1.72036,-3.80104 -3.51731,-5.55907 l 6.55807,-7.33606 a 16.584089,5.9269042 14.567499 0 0 11.93131,-1.21542 16.584089,5.9269042 14.567499 0 0 -9.69441,-9.98372 16.584089,5.9269042 14.567499 0 0 -13.94748,-2.58465 z"
         id="path842"
         inkscape:connector-curvature="0" />
      <ellipse
         style="opacity:1;fill:#1a1a1a;fill-opacity:1;stroke:none;stroke-width:2.50885653;stroke-linecap:round;stroke-miterlimit:20;stroke-dasharray:none;stroke-opacity:1"
         id="path839"
         cx="67.280991"
         cy="186.20767"
         rx="3.2127974"
         ry="2.6222095" />
      <path
         style="opacity:1;fill:#4d4d4d;fill-opacity:1;stroke:none;stroke-width:0.88272315;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 79.66332,153.02627 -10.59786,24.71287 -3.364276,7.84608 a 3.0238096,7.7248881 33.484901 0 0 0.03872,0.40605 3.0238096,7.7248881 33.484901 0 0 0.09107,0.37748 3.0238096,7.7248881 33.484901 0 0 0.138885,0.32112 3.0238096,7.7248881 33.484901 0 0 0.185537,0.26091 3.0238096,7.7248881 33.484901 0 0 0.23032,0.19883 3.0238096,7.7248881 33.484901 0 0 0.189267,0.10165 3.0238096,7.7248881 33.484901 0 0 0.301729,0.0881 3.0238096,7.7248881 33.484901 0 0 0.338899,0.0216 3.0238096,7.7248881 33.484901 0 0 0.37349,-0.0448 3.0238096,7.7248881 33.484901 0 0 0.404068,-0.11066 3.0238096,7.7248881 33.484901 0 0 0.221687,-0.0907 l 5.671714,-5.91386 18.771206,-19.57196 z"
         id="path834"
         inkscape:connector-curvature="0" />
      <path
         style="opacity:1;fill:#c83737;fill-opacity:1;stroke:none;stroke-width:0.88272309;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 63.746498,155.56137 c -3.714143,5.61014 2.011339,13.29921 11.287812,19.44098 9.276661,6.14137 18.591112,8.40984 22.305304,2.79978 1.857027,-2.80492 3.250026,-7.67335 2.447227,-12.98659 -0.80271,-5.31331 -3.801072,-11.0718 -8.439308,-14.14262 -4.638385,-3.07072 -11.181796,-3.62979 -16.458238,-2.34102 -5.276326,1.28836 -9.285728,4.42464 -11.142797,7.22947 z"
         id="path1024"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="sssssss" />
      <path
         style="opacity:1;fill:#d35f5f;fill-opacity:1;stroke:none;stroke-width:0.88272309;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 105.15141,140.73795 -10.864378,22.2774 -0.01145,-0.0124 a 9.4559,6.2476475 33.50704 0 1 -0.205883,0.3689 9.4559,6.2476475 33.50704 0 1 -11.333345,-0.0108 9.4559,6.2476475 33.50704 0 1 -4.435585,-10.4292 9.4559,6.2476475 33.50704 0 1 0.251342,-0.33858 l -3.2e-5,-3.8e-4 0.0088,-0.0175 a 9.4559,6.2476475 33.50704 0 1 0.02113,-0.0252 L 94.82083,133.87975 Z"
         id="path1026"
         inkscape:connector-curvature="0" />
      <ellipse
         transform="matrix(-0.833818,-0.55203943,-0.55203943,0.833818,0,0)"
         ry="7.445467"
         rx="13.66678"
         cy="59.92049"
         cx="-159.17305"
         id="ellipse1028"
         style="opacity:1;fill:#c83737;fill-opacity:1;stroke:none;stroke-width:0.88272309;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </g>
  </svg>
</div><div class="note" onmouseover="showText(this)" onmouseout="hideText(this)">
  <h2><%= row.title %></h2>
  <p><%= row.description %></p>
  <h3 class="view-note">Click To View Note</h3>
  <h3><a href="/delete/<%=row.id%>">delete note</a></h3>
</div>
</div>
