@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

body{
  background-color:#D5D5D5;
  margin:0px;
  padding:0px;
  font-family: 'Muli', sans-serif;
  height:100%;
  overflow: hidden;
}

*{
  box-sizing:border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color:#D5D5D5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar-container{
  display:flex;
  flex-direction: row;
  z-index: 1000;
}

.content{
  background-color:transparent;
  width:100%;
  padding:5px;
  margin-top:90px;
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
  overflow: auto;
}

.note-container{
  background-color:transparent;
  height:300px;
  width:300px;
  margin:10px;
}

.note{
  display:flex;
  flex-direction: column;
  cursor:pointer;
  align-items: center;
  background-color:white;
  height:300px;
  margin-top:40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.note-tack-container{
  width:100%;
  position:relative;
  display:flex;
  justify-content: center;
  background-color:red;
}

.tack-container{
  width:50px;
  display:flex;
  justify-content: center;
  margin-left:10px;
  margin-right:10px;
}

.tack{
  margin:0px;
  padding:0px;
  width:30px;
}

.tack:hover{
  width:35px;
}

.note h2{
  margin-top:40px;
  text-align:center;
}

.note p{
  text-align:center;
  margin:0px;
  font-size:20px;
  padding:0px;
  width:80%;
  font-family: 'Nanum Pen Script', cursive;
}


.note-tack{
  position: absolute;
  z-index: 2;
  margin-left:25px;
}


.view-note{
  font-size:15px;
  color:#ffcc00ff;
  visibility: hidden;
}

.logo{
  height:60px;
  margin:10px;
}

.list-container{
  display:flex;
  flex-direction: row;
  position:absolute;
  right:0;
  margin-right:30px;
}

.navbar{
  position:absolute;
  display:flex;
  background-color:transparent;
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar ul{
  display:flex;
  align-items: center;
  list-style-type: none;
  background-color:white;
  width:100%;
  margin:0px;
  padding:0px;
  flex-direction: row;
  padding:5px;
}

.navbar ul li{
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none
}

.navbar ul li a{
  text-align:center;
  text-decoration: none;
  font-size:20px;
  margin:5px;
  color:black;
}

.container{
  background-color:transparent;
  display:flex;
  height:100vh;
}

.sidebar{
  margin-top:120px;
  background-color:white;
  margin-bottom:30px;
  font-size:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar ul {
  margin-top:120px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 260px;
}


.sidebar li a {
  display:flex;
  align-items: center;
  color: #000;
  height:60px;
  font-size:16px;
  text-decoration: none;
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
}

/* Change the link color on hover */
.sidebar li a:hover {
  border-top:1px solid #D5D5D5;
  border-bottom:1px solid #D5D5D5;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn{
  margin:10px;
  padding:10px;
  text-align:center;
  border:1px solid #D5D5D5;
  margin-top:10px;
  margin-bottom:15px;
  cursor:pointer;
}

.modal-button-container a{
  text-decoration: none;
  color:black;
}

.logoutbtn, .modalbtn, .modalbtncancel{
  padding:10px;
  text-align:center;
  border:1px solid #D5D5D5;
  cursor:pointer;
  width:100px;
  font-size:15px;
  background-color:white;
}

.modalbtndisabled{
  background-color:#D3D3D3;
  border:1px solid #D3D3D3;
  color:#787878;
  color:white;
  margin:5px;
  width:100px;
}

.modalbtn{
  margin:5px;
}

.modalbtncancel{
  background-color:#ffcc00ff;
  border:1px solid #ffcc00ff;
  color:white;
  margin:5px;
}

.logoutbtn:hover, .modalbtn:hover, .modalbtncancel:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-note-tack{
  position: absolute;
  z-index: 2;
  margin-left:14px;
}

.note-modal{
  background-color:transparent;
  margin:10px;
  width:100%;
  display:flex;
  justify-content: center;
  height:25px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 500px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  background-color:white;
  padding: 0px 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  height:450px;
}

.modal-form{
  display:flex;
  flex-direction: column;
}

.modal-form input, .modal-form textarea, .modal-form label{
  margin-bottom:10px;
  width:300px;
}

.modal-form input{
  padding:10px;
  font-size:17px;
}

.modal-form textarea{
  padding:10px;
  font-size:23px;
  resize:none;
  height:100px;
  font-family: 'Nanum Pen Script', cursive;
}

.modal-button-container{
  width:100%;
  display:flex;
  justify-content: center;
  padding:10px;
}

input[type=text]:focus {

}

input:focus, textarea:focus, select:focus{
  background-color:white;
        outline: none;
        border:2px solid #ffcc00ff;
}
